<!-- Include local CSS files for styling -->
<link rel="stylesheet" type="text/css" href="../css/home.css"> <!-- CSS for body -->
<link rel="stylesheet" type="text/css" href="../css/header.css"> <!-- CSS for header -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- Material Icons font -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> <!-- Font Awesome icons -->

<!-- Header section -->
<div class="nav-bar">
    <div class="title">CSV Upload</div> <!-- Main title -->
</div>

<!-- Body section -->
<div class="container">
     <!-- Main text -->
     <div class="center-text">
        <h1>Upload a File Here</h1>
        <p>Reads CSV file and displays its content in tabular form</p>
    </div>
    
     <!-- Upload box -->
     <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="input-container">
            <input type="file" id="csvFile" name="file" accept=".csv">
            <button class="upload-btn">Upload</button>
        </div>
    </form>
    
     <div class="uploaded-files">
      <h2>Uploaded files</h2>  
     </div>
     
    <!-- Conditional rendering based on whether there are uploaded files -->
    <% if (files.length == 0) { %>
        <div class="no-file">
            No files to show!
        </div>
    <% } else { %>
        <!-- Display a table of uploaded files -->
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Time (UTC)</th>
                    <th>View</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop through uploaded files and display details -->
                <% for (let file of files) { %>
                    <tr>
                        <td>
                            <%= file.fileName %>
                        </td>
                        <td>
                            <%= file.createdAt.toLocaleDateString() %>
                        </td>
                        <td>
                            <%= file.createdAt.toLocaleTimeString() %>
                        </td>
                        <td>
                            <!-- Create a link to view the file -->
                            <a href="/view/<%= file.file %>" class="view-link"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                        </td>
                        <td>
                            <!-- Create a link to delete the file -->
                            <a href="/delete/<%= file.file %>" class="delete-link"><i class="material-icons" style="font-size:30px;color:red">delete</i></a>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    <% } %>
</div>
